:root {
    --header-color: rgb(135, 130, 206);
    --header-height: 50px;
    --section1-height: 500px;
    --section1-color: aqua;
}
  



/* header */


.header_color {
    background-color: var(--header-color);
}

.header_height {
    height: var(--header-height);
}

.menu_burger {
      width: 25px;
      height: 25px;
      background-color: gray;
}


/* Section 1 */


.section1_height {
    height: var(--section1-height);
}

.section1_color {
    background-color: var(--section1-color);
}

.row [class*="col-"] {
    text-align: center;
}