:root {
    --header-color: rgb(135, 130, 206);
    --header-height: 50px;
}
  



/* header */


.header_color {
    background-color: var(--header-color);
}

.header_height {
    height: var(--header-height);
}

.menu_burger {
      width: 25px;
      height: 25px;
      background-color: gray;
}