:root {
    --header-color: rgb(135, 130, 206);
    --header-height: 50px;
    --section1-height: 500px;
    --section1-color: aqua;
    --footer-color: darkblue;
}
  


/* utility */


.text_align_justify {
    text-align: justify;
}

.border_bottom {
    border-bottom: 1px solid gray;
}

.flex {
    display: flex;
}

.height_150px {
    height: 150px;
}

.btn_my {
    background-color: aqua;
    padding: 1em;
    height: 30px;
    width: 50px;
}


/* header */


.header_color {
    background-color: var(--header-color);
}





/* Section 1 */


.section1_height {
    height: var(--section1-height);
}

.section1_color {
    background-color: var(--section1-color);
}




/* section 2 */



.card {
    height: 200px;
    background-color: rgb(151, 127, 173);
}


/* section 3 */





/* section 4 */

.border_bottom {
    border-top: none;
    border-right: none;
    border-left: none;

    border-bottom: 1px solid grey;
}


/* footer */

.footer_color {
    background-color: var(--footer-color);
}